@media(max-width: 600px) {
	.home-tab-wordmark-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.home-tab-wordmark {
		text-align: center;
	}
}

@media(max-height: 1000px) {
	.home-tab:not(.embedded) .home-tab-wordmark-container {
		padding-top: 10px;
	}
}

@media(max-width: 600px) {
	.home-tab-recent-files-container {
		padding-bottom: 75px;
	}
}